yarn-error.log
/node_modules
/bin
.env
/.env

.env.local
.env.development.local
.env.test.local
.env.production.local
.terraform.env

/venv
/opus-venv
/opus-venv1
client/opus-venv1/
/opus-venv2
